


<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8">

        <span class="processLabels"><a [class.disabled]="disabled" style="font-size: 1rem;" class="p-button-sm" (click)="getMemInfo()">Memory</a></span>

        <span class="processLabels"><a [class.disabled]="disabled" style="font-size: 1rem;" class="p-button-sm"  (click)="getDiskInfo()">Disk</a></span>

        <span class="processLabels"><a [class.disabled]="disabled" style="font-size: 1rem;" class="p-button-sm"  (click)="getCPUInfo()">CPU</a></span>

        <span class="processLabels"><a [class.disabled]="disabled" style="font-size: 1rem;" class="p-button-sm"  (click)="getOSInfo()">OS</a></span>

        <span class="processLabels"><a [class.disabled]="disabled" style="font-size: 1rem;" class="p-button-sm"  (click)="getProcessInfo()">Processes</a></span>
    </div>
</div>
<div class="row">
    
    <p-scrollPanel [style]="{width: '100%', height: '800px'}" styleClass="custom" styleClass="custom">
    <p-panel  header="{{host}}  -  Uptime: {{server.uptime}}  -  Last Update: {{server.lastUpdate}}" [toggleable]="true" >
        <ng-template pTemplate="icons" style="float: right;"> 
            <span class="{{server.icon}}" style="font-size: 1rem; color:{{server.status}}"></span>
                <button pButton class="p-panel-header-icon p-link" style="float: right;" (click)="menu.toggle($event)" ></button>
        </ng-template>
            
            <div *ngIf="memInfoAvailable">
                <div class="row" style="padding-left: 10px; font-size: 12px;"> 
                    <b>Memory - {{host}} </b>
                </div>
                <div class="row">
                    <div class="card">
                        <p-table [columns]="memCols" [value]="memInfo"  (sortFunction)="customMemSort($event)" [customSort]="true" selectionMode="single" [(selection)]="selectedMemRow" (onRowSelect)="onRowMemSelect($event)" [tableStyle]="{'min-width': '50rem'}">
                                <ng-template pTemplate="header" >
                                <tr>
<!--                                     
                                    <th pSortableColumn=0>Name<p-sortIcon field="name"></p-sortIcon></th>
                                    <th pSortableColumn=1>Value<p-sortIcon field="value"></p-sortIcon></th> -->
                                    <th>real-free</th>
                                    <th>real-used</th>
                                    <th>real-total</th>

                                    <th>swap-free</th>
                                    <th>swap-used</th>
                                    <th>swap-cached</th>
                                    <th>swap-total</th>

                                    <th>nocache-free</th>
                                    <th>nocache-used</th>
                                        
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-item let-columns="columns">
                                <tr [pSelectableRow]="item">
                                    <td>{{item.real.free}}</td>
                                    <td>{{item.real.used}}</td>
                                    <td>{{item.real.total}}</td>

                                    <td>{{item.swap.free}}</td>
                                    <td>{{item.swap.used}}</td>
                                    <td>{{item.swap.cached}}</td>
                                    <td>{{item.swap.total}}</td>

                                    <td>{{item.nocache.free}}</td>
                                    <td>{{item.nocache.used}}</td>
<!--             
                                    <td>{{item[0]}}</td>
                                    <td>{{item[1]}}</td> -->
            
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
            <div *ngIf="diskInfoAvailable">
                <div class="row" style="padding-left: 10px; font-size: 12px;">
                    <b>Disk Information - {{host}}</b>
                </div>
                <div class="row">
                    <div class="card">
                        <p-table [columns]="diskCols" [value]="diskInfo" (sortFunction)="customDiskSort($event)" [customSort]="true" selectionMode="single" [(selection)]="selectedDiskRow" (onRowSelect)="onRowDiskSelect($event)" [tableStyle]="{'min-width': '50rem'}">
                                <ng-template pTemplate="header" >
                                <tr>
                                    
                                    <!-- <th pSortableColumn=0>File System<p-sortIcon field="filesystem"></p-sortIcon></th>
                                    <th pSortableColumn=1>Size<p-sortIcon field="size"></p-sortIcon></th>
                                    <th pSortableColumn=2>Used<p-sortIcon field="used"></p-sortIcon></th>
                                    <th pSortableColumn=3>Available<p-sortIcon field="avail"></p-sortIcon></th>
                                    <th pSortableColumn=4>Use %<p-sortIcon field="use"></p-sortIcon></th>
                                    <th pSortableColumn=5>Mounted On<p-sortIcon field="mounted"></p-sortIcon></th> -->

                                    <th>ops-total</th>
                                    <th>ops-available</th>
                                    <th>ops-used</th>
                                    <th>ops-percent</th>
                                    <th>log-total</th>
                                    <th>log-available</th>
                                    <th>log-used</th>
                                    <th>log-percent</th>
                                    <th>tmp-total</th>
                                    <th>tmp-available</th>
                                    <th>tmp-used</th>
                                    <th>tmp-percent</th>
                                        
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-item let-columns="columns">
                                <tr [pSelectableRow]="item">
                                    <td>{{item.opstotal}}</td>
                                    <td>{{item.opsavail}}</td>
                                    <td>{{item.opsused}}</td>
                                    <td>{{item.opspercent}}</td>

                                    <td>{{item.logtotal}}</td>
                                    <td>{{item.logavail}}</td>
                                    <td>{{item.logused}}</td>
                                    <td>{{item.logpercent}}</td>

                                    <td>{{item.tmptotal}}</td>
                                    <td>{{item.tmpavail}}</td>
                                    <td>{{item.tmpused}}</td>
                                    <td>{{item.tmppercent}}</td>
<!--             
                                    <td>{{item[0]}}</td>
                                    <td>{{item[1]}}</td>
                                    <td>{{item[2]}}</td>
                                    <td>{{item[3]}}</td>
                                    <td>{{item[4]}}</td>
                                    <td>{{item[5]}}</td> -->
            
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>


            <div *ngIf="osInfoAvailable">
                <div class="row" style="padding-left: 10px; font-size: 12px;">
                    <b>OS Information - {{host}}</b>
                </div>
                <div class="row">
                    <div class="card">
                        <p-table [columns]="osCols" [value]="osInfo" (sortFunction)="customOSSort($event)" [customSort]="true" selectionMode="single" [(selection)]="selectedOSRow" (onRowSelect)="onRowDiskSelect($event)" [tableStyle]="{'min-width': '50rem'}">
                                <ng-template pTemplate="header" >
                                <tr>
                                    
                                    <th pSortableColumn=0>Host Name<p-sortIcon field="hostname"></p-sortIcon></th>
                                    <th pSortableColumn=1>OS<p-sortIcon field="os"></p-sortIcon></th>
                                    <th pSortableColumn=2>Version<p-sortIcon field="version"></p-sortIcon></th>
                                        
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-item let-columns="columns">
                                <tr [pSelectableRow]="item">
            
                                    <td>{{item.hostname}}</td>
                                    <td>{{item.os}}</td>
                                    <td>{{item.osversion}}</td> 
            
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>

            <div *ngIf="cpuInfoAvailable">
                <div class="row" style="padding-left: 10px; font-size: 12px;">
                    <b>CPU Information - {{host}}</b>
                </div>
                <div class="row">
                    <div class="card">
                        <p-table [columns]="cpuCols" [value]="cpuInfo" (sortFunction)="customCpuSort($event)" [customSort]="true" selectionMode="single" [(selection)]="selectedCpuRow" (onRowSelect)="onRowCpuSelect($event)" [tableStyle]="{'min-width': '150rem'}">
                                <ng-template pTemplate="header" >
                                <tr>
                                    
                                    <th pSortableColumn= 0 >Processor<p-sortIcon field="processor"></p-sortIcon></th>
                                    <th pSortableColumn= 1 >Vender Id<p-sortIcon field="venderid"></p-sortIcon></th>
                                    <th pSortableColumn= 2 >CPU Family<p-sortIcon field="cpufamily"></p-sortIcon></th>
                                    <th pSortableColumn= 3 >Model<p-sortIcon field="model"></p-sortIcon></th>
                                    <th pSortableColumn= 4 >Model Name<p-sortIcon field="modelname"></p-sortIcon></th>
                                    <th pSortableColumn= 5 >Stepping<p-sortIcon field="stepping"></p-sortIcon></th>
                                    <th pSortableColumn= 6 >Micro Code<p-sortIcon field="microcode"></p-sortIcon></th>
                                    <th pSortableColumn= 7 >CPU Mhz<p-sortIcon field="cpumhz"></p-sortIcon></th>
                                    <th pSortableColumn= 8 >Cache Size<p-sortIcon field="cachesize"></p-sortIcon></th>
                                    <th pSortableColumn= 9 >Physical ID<p-sortIcon field="physicalid"></p-sortIcon></th>
                                    <th pSortableColumn= 10>Core ID<p-sortIcon field="coreid"></p-sortIcon></th>
                                    <th pSortableColumn= 11>CPU Cores<p-sortIcon field="cpucores"></p-sortIcon></th>
                                    <th pSortableColumn= 12>Apic ID<p-sortIcon field="apicid"></p-sortIcon></th>
                                    <th pSortableColumn= 13>Initial Apic ID<p-sortIcon field="initialapicid"></p-sortIcon></th>
                                    <th pSortableColumn= 14>FPU<p-sortIcon field="fpu"></p-sortIcon></th>
                                    <th pSortableColumn= 15>FPU Exception<p-sortIcon field="fpuexception"></p-sortIcon></th>
                                    <th pSortableColumn= 16>CPU ID Level<p-sortIcon field="cpuidlevel"></p-sortIcon></th>
                                    <th pSortableColumn= 17>WP<p-sortIcon field="wp"></p-sortIcon></th>
                                    <th pSortableColumn= 18>Flags<p-sortIcon field="flags"></p-sortIcon></th>
                                    <!-- <th pSortableColumn= 19>VMX Flags<p-sortIcon field="vmxflags"></p-sortIcon></th> -->
                                    <!-- <th pSortableColumn= 20>Bugs<p-sortIcon field="bugs"></p-sortIcon></th> -->
                                    <!-- <th pSortableColumn= 21>bogomips<p-sortIcon field="bogomips"></p-sortIcon></th> -->
                                    <th pSortableColumn= 22>CL Flush Size<p-sortIcon field="clflushsize"></p-sortIcon></th>
                                    <th pSortableColumn= 23>Cache Alignment<p-sortIcon field="cachealignment"></p-sortIcon></th>
                                    <th pSortableColumn= 24>Address Sizes<p-sortIcon field="addresssizes"></p-sortIcon></th>
                                    <th pSortableColumn= 25>Power Management<p-sortIcon field="powermanagement"></p-sortIcon></th>
                                        
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-item let-columns="columns">
                                <tr [pSelectableRow]="item">
            
                                    <td>{{item[0]}}</td>
                                    <td>{{item[1]}}</td>
                                    <td>{{item[2]}}</td>
                                    <td>{{item[3]}}</td>
                                    <td>{{item[4]}}</td>
                                    <td>{{item[5]}}</td>
                                    <td>{{item[6]}}</td>
                                    <td>{{item[7]}}</td>
                                    <td>{{item[8]}}</td>
                                    <td>{{item[9]}}</td>
                                    <td>{{item[10]}}</td>
                                    <td>{{item[11]}}</td>
                                    <td>{{item[12]}}</td>
                                    <td>{{item[13]}}</td>
                                    <td>{{item[14]}}</td>
                                    <td>{{item[15]}}</td>
                                    <td>{{item[16]}}</td>
                                    <td>{{item[17]}}</td>
                                    <td>{{item[18]}}</td>
                                    <!-- <td>{{item[19]}}</td> -->
                                    <!-- <td>{{item[20]}}</td> -->
                                    <!-- <td>{{item[21]}}</td> -->
                                    <td>{{item[22]}}</td>
                                    <td>{{item[23]}}</td>
                                    <td>{{item[24]}}</td>
                                    <td>{{item[25]}}</td>
                                    <td>{{item[26]}}</td> -->
            
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
            <div *ngIf="processInfoAvailable">
                <div class="row" style="padding-left: 10px; font-size: 12px;">
                    <b>Process Information - {{host}}</b>
                </div>
                <div class="row">
                    <div class="card">
                        <p-table [columns]="processCols" [value]="processInfo" (sortFunction)="customProcessSort($event)" [customSort]="true" selectionMode="single" [(selection)]="selectedProcessRow" (onRowSelect)="onRowProcessSelect($event)" [tableStyle]="{'min-width': '50rem'}">
                                <ng-template pTemplate="header" >
                                <tr>
                                    
                                    <th pSortableColumn=0>Process<p-sortIcon field="process"></p-sortIcon></th>
                                        
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-item let-columns="columns">
                                <tr [pSelectableRow]="item">
            
                                    <td>{{item}}</td>
            
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
    </p-panel>
</p-scrollPanel>
</div>