
<h4>Server Manager</h4>
<div *ngIf="dataReady">
        <!-- <p-card header="Server Status" subheader="Host - {{hoststatus[0].hostname}}" [style]="{width: '360px'}" styleClass="shadow-2">
            
            <span *ngIf="dataReady"><b>{{hoststatus[0].checksum}}</b></span>
            
            
                <ng-template pTemplate="footer">
            </ng-template>
        </p-card> -->

    <!-- <div class="flex align-items-center justify-content-start">
        <div *ngFor="let group of groups" >
            <p-button label="{{group.name}}" styleClass="w-12rem h-4rem bg-{{group.status}}-500 flex align-items-center justify-content-center p-4 border-round mr-1" (onClick)="showGroups(group.name)"></p-button>
        </div>
    </div> -->
        
    <!-- <div *ngFor="let status of hoststatus">
        <span *ngIf="dataReady"><b>{{status.hostname}}</b></span>
        <p-card header="{{status.hostname}}" subheader="Host - {{status.hostname}}" [style]="{width: '360px'}" styleClass="shadow-2">
            <span class="{{status.icon}}"  style="font-size: 1rem; color:{{status.status}}"></span>
            <span *ngIf="dataReady"><b>{{status.checksum}}</b></span>
            
            
                <ng-template pTemplate="footer">
            </ng-template>
        </p-card>
    </div> -->
</div>

<p-button label="Status" icon="pi pi-check"  (click)="getStatus()"></p-button>
<p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button>

<p-menubar [model]="menuItems">
</p-menubar>