
<div class="row">
    <p style="font-size: 1rem;">Last Update : {{serverService.lastStatusUpdate}}</p>
    <!-- <textarea pInputTextarea>{{serverService.lastStatusUpdate}}</textarea> -->
</div>
<div class="row">
    <div class="card">
        <!--<p-table [columns]="cols" [value]="hosts" selectionMode="single" [(selection)]="selectedServer" (onRowSelect)="onRowSelect($event)" [tableStyle]="{'min-width': '50rem'}">-->
        <p-table [columns]="cols" [value]="hosts" (sortFunction)="customSort($event)" [customSort]="true" selectionMode="single" [(selection)]="selectedServer" (onRowSelect)="onRowSelect($event)" [tableStyle]="{'min-width': '50rem'}">
                <ng-template pTemplate="header" >
                <tr>
                    
                    <th pSortableColumn="type">type<p-sortIcon field="type"></p-sortIcon></th>
                    <th pSortableColumn="status">icon<p-sortIcon field="icon"></p-sortIcon></th>
                    <th pSortableColumn="hostName">Host Name<p-sortIcon field="hostName"></p-sortIcon></th>
                    <th pSortableColumn="uptime">Up Time (Hrs)<p-sortIcon field="uptime"></p-sortIcon></th>
                    <th pSortableColumn="lastUpdate">Last Update<p-sortIcon field="lastUpdate"></p-sortIcon></th>
                    <th pSortableColumn="epoch">Epoch<p-sortIcon field="epoch"></p-sortIcon></th>
                        
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-hosts let-columns="columns">
                <tr [pSelectableRow]="servers[hosts]">

                    <td>{{servers[hosts].type}}</td>
                    <td><i class="{{servers[hosts].icon}}" style="font-size: 1rem; color:{{servers[hosts].status}}"></i></td>
                    <td>{{servers[hosts].hostName}}</td>
                    <td>{{servers[hosts].uptime}}</td>
                    <td>{{servers[hosts].lastUpdate}}</td>
                    <td>{{servers[hosts].epoch}}</td>

                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<div class="row">
    <button  class="p-button-sm" pButton type="button" (click)="getStatus()">
    Fetch Status
    </button>

    <button  class="p-button-sm p-button-warning" pButton type="button" (click)="deleteStatus()">
    Delete Status
    </button>

    <button  class="p-button-sm" pButton type="button" (click)="setStatus()">
    Set Status
    </button>
</div>
<!--   
<p-table [scrollable]="true" scrollHeight="900px" [value]="serverService.groups" [tableStyle]="{ 'min-width': '120rem' }" [autoLayout]="true">
    <ng-template pTemplate="header">
        <tr padding="3px">
            <th width="15px" class="text-left">Group</th>
            <th width="5px"  class="text-center">Status</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-myGroup >  
           
            <tr padding="3px">
                                    
                <td width="5px"  class="text-center"  >{{myGroup.group}}</td>  
                <td width="5px"  class="text-center"  >{{myGroup.status}}</td>  
                
            </tr>
        </ng-template>
</p-table> -->
<!-- 
<div *ngFor="let group of serverService.groups">
    {{group.group}}  {{group.status}}
    <div *ngFor="let host of group.hosts">
        {{host.hostname}}  {{host.status}}
    </div>

    <div class="flex">
        <div class="flex flex-column col max-w-15rem">
          <div class="flex flex-shrink-0 flex-grow-0 align-items-center justify-content-center text-sm bg-{{group.status}}-500 font-bold px-5 py-3 border-round border-noround-bottom max-h-1rem ">{{group.group}}</div>
          <div class="flex flex-shrink-0 flex-grow-0 align-items-center justify-content-center text-sm px-5 py-3 border-solid border-1 border-{{groups.status}}-500 border-noround-top"><p-button class="text-sm" label="{{group.group}}"  (onClick)="onServer(group.group)" ></p-button></div>
        </div>
    </div>
</div> -->